// CSS file
.content-left {
  text-align: left;
}

.content-right {
  text-align: right;
}

.content-center {
  text-align: center;
}

.margin-auto {
  margin: auto;
}

.padding-auto {
  padding: auto;
}

h3 {
  margin: 17px 0;
}

.small-margin {
  margin-top: 5px; 
}

.border-right {
  border-right: 1px solid #FFF !important;
}

.c {
  margin: 0 25px;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.margin-bottom {
  margin-bottom: 15px;
}

ul {
  padding: 0;
  list-style-type: none;
}

form {
  width: 98%;
  margin-left: 1em;
}

form input {
  width: 100%;
  margin: 0;
  padding: 11px;
}

form textarea{
  width: 100%;
  height: 150px;
}

.top-margin {
  margin: 110px 0 0 0;
}

.links {
  text-align: center;
  margin: 20px 0px 0px 45px;
}

.links img {
  margin: 5px;
}

.header {
 color: #fff;
}

.content {
  background-color: lightgrey;
  color: #383838;
}

.form {
  color: #fff;
  background-color: #383838;
}

.form .col-md-4 {
  background-color: #383838;
}

body {
  background-color: #383838;
}
