{% include 'header.html' %}
{% load static %}
<div class="c">
	<div class="row header" style="margin-bottom: 30px;">
    <div class="col-sm-6 border-right small-margin">
      <h1 class="content-right">Alex Heist</h1>
		</div>
		<div class="col-sm-6">
      <h3>Software Developer</h3>
		</div>
	</div>

	<div class="row content">
		<div class="col-lg-6">
		  <div class="row">
				<div class="col-sm-3">
          <img src="{% static 'img/me.jpg' %}" alt="profile_image" height="200" width="200">
				</div>
        <div class="col-sm-9">
				  <p class="content-left" style="margin:30px 0 0 20px; border-bottom: 1px solid black;">"MicroSoft isn't evil, they just make really crappy operating systems"<br><small> - Linus Torvalds</small></p>
					<div style="margin: 20px 10px 10px 25px;">
					  <a href="https://github.com/whoisheist" target="_blank"><img src="{% static 'img/github.png' %}" alt="github_link" height="75" width="75"></a>
					  <a href="https://gitlab.com" target="_blank"><img style="margin: 10px 10px 10px 15px;" src="{% static 'img/gitlab.png' %}" alt="gitlab_link" height="75" width="75"></a>
					  <a href="https://linkedin.com" target="_blank"><img style="margin: 10px 10px 10px 15px;" src="{% static 'img/linkedin.png' %}" alt="linkedin_link" height="75" width="75"></a>
					</div>
				</div>
			</div>
			<div class="row links">
				<div class="row">
				  <h3>Projects I've worked on:</h3>
				</div>
				<div class="row">
				  <a href="http://www.w3expressions.com/alexheist/ProjectWk5/index.php" target="_blank"><img src="{% static 'img/website1.png' %}" alt="website_one" height="125" width="225"><br>Save Help</a>
          <a href="http://www.w3expressions.com/alexheist/Website2/" target="_blank"><img src="{% static 'img/website2.png' %}" alt="website_two" height="125" width="225"><br>Math Rock</a>
          <a href="http://www.w3expressions.com/alexheist/Website3" target="_blank"><img src="{% static 'img/website3.png' %}" alt="website_three" height="125" width="225"><br>Cold Brew</a>
				</div>
			</div>
		</div>
		<div class="col-lg-6">
		  <div class="row">
  		  <h2 class="content-center margin-auto margin-bottom">About Me</h2>
		  </div>
		  <div class="row">
			  <div class="col-lg-6 content-right border-right">
				  <div class="row">
					  <div class="col-sm-12 margin-bottom">
							<h4><u>Work Experience</u></h4>  
							<br>
							<p class="no-margin"><strong>VidiCode</strong></p>
							<small>Director</small><br>
							<small>April 2018 - Present</small><br><br>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<h4><u>Education</u></h4>  
							<br>
							<p class="no-margin"><strong>College of Western Idaho</strong></p>
							<small>Associates of Applied Science</small><br>
							<small>Projected Graduation: Fall 2018</small><br><br>
							<p class="no-margin"><strong>Borah High School</strong></p>
							<small>Graduated: Spring 2015</small>
						</div>
					</div>
				</div>
			  <div class="col-lg-6 content-left">
          <h4>Programming</h4>
					<br>
					<p class="no-margin"><strong>Comfortable:</strong></p>
					<ul>
						<li>Django</li>
						<li>Python</li>
						<li>HTML & CSS</li>
						<li>Git</li>
					</ul>
					<p class="no-margin"><strong>Some Experience:</strong></p>
					<ul>
					  <li>Javascript</li>
						<li>SQL</li>
						<li>C#</li>
					</ul>
					<p class="no-margin"><strong>Interested In:</strong></p>
					<ul>
						<li>Go</li>
						<li>Bash</li>
						<li>Docker</li>
					</ul>
				</div>
			</div>
		</div>
	</div>	

	<div class="row form">
			<h2 style="color: #FFFFFF;">Contact Me</h2>
			<form method="post">
				{% csrf_token %}
				<div class="row">
				{% for field in form %}
				  {% if forloop.counter0|divisibleby:2 %}
					  <div class="col-md-4" style="padding:50px 2px 0 2px;">
					{% endif %}
					<p class="content-left no-margin">{{ field.label_tag }}</p>
					{{ field }}
			    {% if field.help_text %}
					  <small style="display:none;">{{ field.help_text }}</small>
					{% endif %}
					{% for error in field.errors %}
				    <p style="color:red;">{{ error }}</p>
					{% endfor %}
					</p>
				  {% if forloop.counter|divisibleby:2 or forloop.last %}
					  </div>
					{% endif %}
				{% endfor %}
				<input type="submit" value="Submit" style="padding:0;">
				</div>
			</form>
	</div>
</div>
{% include 'footer.html' %}
